/* ADMINISTRATOR PAGE'S STYLES */
.failed_login, 
.success_login { 
    font-family: var(--Overlock);
    text-align: center;
    margin: 1.5em 0 0.8em 0;
    padding: 0.3em 0;
    font-weight: 600;
    font-size: var(--sm);
}
.failed_login { 
    background-color: #FCC8D1;
    color: #D14D72;
}
.success_login { 
    background-color: #c3f8eb;
    color: #16c79a;
}
section#app_login.loging {
    font-family: var(--Overlock);
}
section#app_login.loging article:not(.modal) {
    align-items: center;
    background-color: #f3f6f9;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}
section#app_login.loging article:not(.modal) div {
    background-color: var(--white);
    color: var(--black_1);
    padding: 1em 0.8em;
    border-radius: 4px;
    box-shadow: 0px 10px 10px -5px #ccc;
    border: 2px solid #f2f2f2;
    width: 25vw;
}
section#app_login.loging article:not(.modal) div h4 {
    font-family: var(--PTSans);
    font-size: var(--md);
    text-align: center;
    margin-bottom: 0.4em;
}
section#app_login.loging article:not(.modal) div fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
section#app_login.loging article:not(.modal) div fieldset:first-of-type {
    margin-bottom: 1em;
}
section#app_login.loging article:not(.modal) div fieldset label {
    font-size: var(--sm);
}
section#app_login.loging article:not(.modal) div fieldset input {
    font-size: var(--nrm);
    padding: 0.2em 0.4em;
    border: 1px solid #cccccc;
    border-radius: 4px;
    outline: none;
    font-family: var(--Overlock);
}
section#app_login.loging article:not(.modal) div button {
    background-color: var(--green);
    border:none;
    color: var(--white);
    display: block;
    font-family: var(--Overlock);
    font-size: var(--sm);
    font-weight: 600;
    margin-top: 2em;
    padding: .5em 0;
    width: 100%;
}
section#app_login article.modal {
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 87%);
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
}
section#app_login:not(.loging){
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-size: var(--sm);
    font-family: var(--Overlock);
    letter-spacing: normal;
}
section#app_login:not(.loging) article {
    width: 100%;
    margin: 0;
    display: flex;
    height: 100%;
}
section#app_login:not(.loging) article aside {
    background-color: var(--black);
    box-shadow: 0 0 7px #082032e0;
    padding: 1em;
    width: 10%;
    transition: all .4s;
    height: 100vh;
}
section#app_login:not(.loging) article aside.collapsed {
    width: 3%;
    padding: 0.5em;
}
section#app_login:not(.loging) article aside #user{
    text-align: center;
    margin-bottom: 1.5em;
    position: relative;
}
section#app_login:not(.loging) article aside #user:after {
    content: '';
    background-color: var(--white_2);
    bottom: -20%;
    height: 2px;
    left: 30%;
    position: absolute;
    width: 40%;
}
section#app_login:not(.loging) article aside #user #user_avatar{
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 2em;
    justify-content: center;
    margin: 0 auto .5em auto;
    text-transform: uppercase;
    width: 2em;
}
section#app_login:not(.loging) article aside #user #user_avatar ~ p {
    font-size: var(--sm);
}
section#app_login:not(.loging) article aside #options {
    margin-top: 4em;
}
section#app_login:not(.loging) article aside #options ul {
    list-style: none;
}
section#app_login:not(.loging) article aside #options ul li {
    padding: 1em 0;
}
section#app_login:not(.loging) article aside #options ul li a {
    color: var(--white_2);
    display: inline-flex;
    width: 100%;
    justify-content: start;
    gap: 0.3em;
    align-items: center;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    transition: all .4s;
}
section#app_login:not(.loging) article aside.collapsed #options ul li a {
    justify-content: center;
}
section#app_login:not(.loging) article aside #options ul li a.active,
section#app_login:not(.loging) article aside #options ul li:hover a {
    background-color: var(--green);
}
section#app_login:not(.loging) article aside #options ul li:hover a {
    transition: background .2s;
}
section#app_login:not(.loging) article aside #options ul li a i {
    font-size: var(--xs);
    transition: all .4s;
}
section#app_login:not(.loging) article aside.collapsed #options ul li a i {
    font-size: var(--sm);
}
section#app_login:not(.loging) article main {
    color: var(--black_1);
    width: 100%;
}
section#app_login:not(.loging) article main #menu {
    padding: 0.4em 0.7em;
    background: var(--white);
    border-bottom: 1px solid #d4d4d4;
    box-shadow: 0 3px 5px -2px #d4d4d4;
    font-size: var(--xs);
    height: 3.2vh;
}
section#app_login:not(.loging) article main #menu button {
    outline: none;
    border: 1px solid transparent;
    width: 1.3em;
    margin-right: 0.4em;
    background: white;
    cursor: pointer;
}
section#app_login:not(.loging) article main #menu button:hover {
    background-color: #f3f6f9;
    border:1px solid #ccc;
    transition: all .2s;
}
section#app_login:not(.loging) article main #content {
    height: 96.7vh;
    overflow: auto;
    padding: .6em
}

/* Mi perfil */
section#app_login:not(.loging) article main #content #image {
    width: 20%;
}
section#app_login:not(.loging) article main #content #image img {
    height: 300px;
    object-fit: contain;
    border: 1px solid #ccc;
    padding: 0.4em 1em;
    border-radius: 2px;
}
section#app_login:not(.loging) article main #content #image p#message {
    display: none;
    padding: 0.3em 0.5em;
    background: rgb(249 210 210);
    border: 2px solid #E74646;
    border-radius: 4px;
    color: #E74646;
    font-weight: 600;
}
section#app_login:not(.loging) article main #content #image button {
    width: 100%;
    padding: 0.6em 0;
    font-size: var(--sm);
    outline: none;
    border: 1px solid #119c79;
    border-radius: 4px;
    margin-top: 0.7em;
    background: var(--green);
    color: var(--white);
    cursor:pointer;
}

/* PERFIL ESTLOS */
#image_selector {display: none;}
#img_visualizer {
    width: 300px;
    height: 300px;
    object-fit: cover;
    background-image: url('../img/no-picture.jpg');
}