:root {
    --black: #082032;
    --black_1: #191718;
    --black_2: #0c1b27;
    --green: #16C79A;
    --blue: #185ADB;
    --blue_2: #2F89FC;
    --white_2: #e6e6e6;
    --PTSans: 'PT Sans', sans-serif;
    --Overlock: 'Overlock', cursive;
    --Assistant: 'Assistant', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --xl: 3em;
    --lg: 1.9em;
    --md: 1.4em;
    --nrm: 1em;
    --sm: .9em;
    --xs: .8em;
    
    
    --c_primary: #0779E4;
    --c_white: #fff;
    --c_gray: #d6d6d6;
    --c_red: #EB455F;
    --c_yellow: #FDD36A;
    --c_black: #242424;
    --c_green: #1FAB89;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family: var(--Roboto);
    color: var(--c_black)
}
/* BUTTONS */
.btn {
    padding: 0.5em 1em;
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--c_gray);
    cursor: pointer;
}
.btn-primary {
    background: var(--c_primary);
    color: var(--c_white);
    border: 1px solid #0667c1;
    transition: background .3s;
}
.btn-primary:hover {
    background: #0774da;
}
.btn-secondary {
    background: var(--c_white);
    border: 1px solid #bfbfbf;
    transition: background .3s;
}
.btn-secondary:hover {
    background: #fafafa;
}
.btn-danger {
    background: var(--c_red);
    color: var(--c_white);
    border: 1px solid #e92f4b;
    transition: all .3s;
}
.btn-danger:hover {
    background:#ea3953;
}
.btn-warning {
    background: var(--c_yellow);
    color: var(--c_black);
    border: 1px solid #fccb4f;
    transition: .2s;
}
.btn-warning:hover {
    background: #fdd05e;
}
.btn-success {
    background: var(--c_green);
    color: var(--c_white);
    border: 1px solid #1b9375;
    transition: .2s;
}
.btn-success:hover {
    background: #1ea482;
}
.btn-disabled {
    background-color: #e6e6e6;
    color: #818181;
    cursor: not-allowed;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn.is-btn-xs { font-size: .49em; }
.btn.is-btn-sm { font-size: .63em; }
.btn.is-btn-md { font-size: .78em; }
.btn.is-btn-lg { font-size: .85em; }
.btn.is-btn-xl { font-size: 1em; }
/* black1:2C3333 */
/* gray1:395B64 */
/* green1:32E0C4 */
/* FONT SIZE */
.is-xl { font-size: var(--xl); }
.is-lg { font-size: var(--lg); }
.is-md { font-size: var(--md); }
.is-nrm { font-size: var(--nrm); }
.is-sm { font-size: var(--sm); }
.is-xs { font-size: var(--xs); }

/* ENLACES */
.link{
    color: var(--c_primary);
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
    transition: color .3s;
}
.link:hover{
    color: #0774da
}

/* COLORES EN TEXTO */
.is-text-primary {
    color: var(--c_primary)
}
.is-text-secondary {
    color:var(--c_gray)
}
.is-text-success {
    color: var(--c_green)
}
.is-text-danger {
    color: var(--c_red)
}
.is-text-warning {
    color: var(--c_yellow)
}
.is-text-white {
    color: var(--c_white)
}
.is-text-black {
    color: var(--c_black)
}

/* BACKGROUND EN TEXTOS */
.is-bg-primary {
    background-color: var(--c_primary)
}
.is-bg-secondary {
    background-color:var(--c_gray)
}
.is-bg-success {
    background-color: var(--c_green)
}
.is-bg-danger {
    background-color: var(--c_red)
}
.is-bg-warning {
    background-color: var(--c_yellow)
}
.is-bg-white {
    background-color: var(--c_white)
}
.is-bg-black {
    background-color: var(--c_black)
}

/* BACKGROUND LIGHT EN TEXTOS */
.is-bg-light-primary {
    background-color: #b5dafd
}
.is-bg-light-secondary {
    background-color:#e6e6e6
}
.is-bg-light-success {
    background-color: #a9efde
}
.is-bg-light-danger {
    background-color: #fad1d7
}
.is-bg-light-warning {
    background-color: #fee9b4
}
.is-bg-light-black {
    background-color: #d9d9d9
}
.is-bold {
    font-weight: 600;
}
/* FLEXBOX */
.flex { display: flex !important; }
.justify-content-space-around { justify-content: space-around; }
.justify-content-space-between { justify-content: space-between; }
.justify-content-baseline { justify-content: baseline; }
.justify-content-center { justify-content:center }
.justify-content-end { justify-content:end }
.justify-content-start { justify-content:start }
.justify-content-space-evenly { justify-content:space-evenly }
.justify-content-stretch { justify-content:stretch }
.align-items-baseline { align-items: baseline; }
.align-items-center { align-items: center; }
.align-items-end { align-items: end; }
.align-items-start { align-items: start; }
.flex-direction-column { flex-direction: column; }
.flex-direction-column-reverse { flex-direction: column-reverse; }
.flex-direction-row { flex-direction: row; }
.flex-direction-row-reverse { flex-direction: row-reverse; }

/* ESTILOS GRAL DEL MODAL */
article.modal {
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 78%);
    position: fixed;
}
article.modal .modal_content {
    width: 60%;
    background: white;
    /* padding: 0.6em; */
    border-radius: 4px;
}
article.modal .modal_content .header-modal {
    /* margin-bottom: 0.5em; */
    border-bottom: 1px solid #dedede;
    padding: 0.6em;
}
article.modal .modal_content .body-modal {
    padding: .6em;
    height: 70vh;
    overflow-y: scroll;
}
article.modal .modal_content .footer-modal {
    /* margin-top: 0.5em; */
    padding: 0.6em;
    border-top: 1px solid #dedede;
}

/* INPUTS */
.input-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .8em;
}
.input-box label{
    display: inline-block;
    width: 15%;
    text-align: end;
    margin-right: 0.4em;
}
.input-box input,
.input-box select,
.input-box textarea  {
    padding: 0.4em 0.5em;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    display: inline-block;
    color: #333;
    width: 85%;
    transition: all .2s;
}
.input-box textarea {
    resize: none;
}
.input-box label ~ div {
    width: 100%;
}
.input-box:not(.horizontal) label ~ div {
    width: 85%;
}
.input-box:not(.horizontal) label ~ div input[type='number'] {
    width: 100%;
}
.input-box label ~ div button:first-child {
    border-radius: 4px 0px 0px 4px;
    border-right: none;
}
.input-box label ~ div button:last-child {
    border-radius: 0px 4px 4px 0px;
    border-left: none;
}
.input-box input:focus-visible,
.input-box select:focus-visible,
.input-box textarea:focus-visible {
    border-color: #6c98ef;
    box-shadow: 0px 0px 3px #6c98ef;
    outline: none;
}

.input-box.horizontal {
    flex-direction: column;
}
.input-box.horizontal label{
    text-align: left;
    width: 100%;
}
.input-box.horizontal input,
.input-box.horizontal select,
.input-box.horizontal textarea {
    width: 100%;
}
.input-box.horizontal textarea {
    resize: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
}
input[type=number] { -moz-appearance:textfield; }

/* MARGENES */
.ml-auto { margin-left: auto!important; }
.mr-auto { margin-right: auto!important; }
.m-auto { margin: 0 auto!important; }
.ml-1{ margin-left: .6em!important;}
.ml-2{ margin-left: 1em!important;}
.ml-3{ margin-left: 1.6em!important;}
.ml-4{ margin-left: 2em!important;}
.ml-5{ margin-left: 2.6em!important;}
.mr-1{ margin-right: .6em!important; }
.mr-2{ margin-right: 1em!important; }
.mr-3{ margin-right: 1.6em!important; }
.mr-4{ margin-right: 2em!important; }
.mr-5{ margin-right: 2.6em!important; }
.mt-1{ margin-top: .3em!important;}
.mt-2{ margin-top: .7em!important;}
.mt-3{ margin-top: 1.1em!important;}
.mt-4{ margin-top: 1.6em!important;}
.mt-5{ margin-top: 2em!important;}
.mb-1{ margin-bottom: .3em!important; }
.mb-2{ margin-bottom: .7em!important; }
.mb-3{ margin-bottom: 1.1em!important; }
.mb-4{ margin-bottom: 1.6em!important; }
.mb-5{ margin-bottom: 2em!important; }

/* Paddings */

/* NOTAS */
.note {
    padding: 0.5em 0.5em 0.5em 0.8em;
    background-color: #f3f6f9;
    border-left: 0.5em solid #333;
    border-radius: 3px;
    font-weight: 500;
}
.note-info {
    background-color: #e1f0fe;
    border-left-color: var(--c_primary);
    color: var(--c_primary);
}
.note-success {
    background-color: #d4f7ee;
    border-left-color: var(--c_green);
    color: var(--c_green);
}
.note-warning {
    background-color: #fff8e6;
    border-left-color: var(--c_yellow);
    color: var(--c_yellow);
    font-weight: 600;
}
.note-danger {
    background-color: #fce8eb;
    border-left-color: var(--c_red);
    color: var(--c_red);
}